<div id="<%= dom_id recipe %>">
  <p class="lead">
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p class="lead">
    <strong>Cook time:</strong>
    <%= recipe.cook_time %>
  </p>

  <p class="lead">
    <strong>Difficulty:</strong>
    <%= recipe.difficulty %>
  </p>

  <p class="lead">
    <strong>Instructions:</strong>
    <%= recipe.instructions%>
  </p>




</div>
